body {
  background-color: #0f172a;
  color: #f1f5f9;
}

.card {
  background-color: #1e293b;
  border: none;
}

.component-card {
  background-color: #334155;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 8px;
}

.component-card label {
  margin-left: 10px;
}

#result-container p {
  margin: 5px 0;
}

.result-correct {
  color: #00ff00;
  font-weight: bold;
}

.result-wrong {
  color: #ff4d4d;
  font-weight: bold;
}
